@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  src: local('Metropolis Regular Italic'),
    url('./assets/fonts/Metropolis-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 200;
  src: local('Metropolis Extra Light'),
    url('./assets/fonts/Metropolis-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 300;
  src: local('Metropolis Light'),
    url('./assets/fonts/Metropolis-Light.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 100;
  src: local('Metropolis Thin'),
    url('./assets/fonts/Metropolis-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 200;
  src: local('Metropolis Extra Light Italic'),
    url('./assets/fonts/Metropolis-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 300;
  src: local('Metropolis Light Italic'),
    url('./assets/fonts/Metropolis-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 100;
  src: local('Metropolis Thin Italic'),
    url('./assets/fonts/Metropolis-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: local('Metropolis Medium'),
    url('./assets/fonts/Metropolis-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  src: local('Metropolis Semi Bold'),
    url('./assets/fonts/Metropolis-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: local('Metropolis Bold'),
    url('./assets/fonts/Metropolis-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 700;
  src: local('Metropolis Bold Italic'),
    url('./assets/fonts/Metropolis-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 500;
  src: local('Metropolis Medium Italic'),
    url('./assets/fonts/Metropolis-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 600;
  src: local('Metropolis Semi Bold Italic'),
    url('./assets/fonts/Metropolis-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 800;
  src: local('Metropolis Extra Bold'),
    url('./assets/fonts/Metropolis-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 800;
  src: local('Metropolis Extra Bold Italic'),
    url('./assets/fonts/Metropolis-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: local('Metropolis Black'),
    url('./assets/fonts/Metropolis-Black.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 900;
  src: local('Metropolis Black Italic'),
    url('./assets/fonts/Metropolis-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis Regular'),
    url('./assets/fonts/Metropolis-Regular.woff') format('woff');
}
